Package: com.yourcompany.controlcenter
Name: controlCenter
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: raul
Author: raul
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000) , preferenceloader
